# docker compose exec packaging gpg --import --batch credentials/sandbox.gpg
services:
  packaging:
    image: jenkinsciinfra/packaging:latest
    platform: linux/amd64
    entrypoint:
      - "sleep"
      - "99d"
    environment:
    - "BUILDENV=/srv/releases/jenkins/env/test.mk"
    - "BRANDING_DIR=/srv/releases/jenkins/branding"
    - "BRAND=/srv/releases/jenkins/branding/jenkins.mk"
    - "GPG_FILE=/srv/releases/jenkins/credentials/sandbox.gpg"
    - "GPG_KEYNAME=Bogus Test"
    - "GPG_PASSPHRASE=s3cr3t"
    - "GPG_PASSPHRASE_FILE=/srv/releases/jenkins/credentials/test.gpg.password.txt"
    - "WAR=/srv/releases/jenkins/jenkins.war"
    - "MSI=/srv/releases/jenkins/jenkins.msi"
    - "RELEASELINE=-experimental"
    volumes:
      - .:/srv/releases/jenkins:z
    working_dir: /srv/releases/jenkins

  pkgserver:
    image: nginx
    ports:
      - "80:80"
    volumes:
      - ./target:/usr/share/nginx/html:ro
      - ./pkgserver/nginx-default-vhost.conf:/etc/nginx/conf.d/default.conf:ro
