[Unit]
Description=Jenkins Continuous Integration Server
Requires=network.target
After=network.target

[Service]
Type=simple
User=@@ARTIFACTNAME@@
Group=@@ARTIFACTNAME@@
Environment="HOME=/var/lib/@@ARTIFACTNAME@@"
Environment="JENKINS_HOME=/var/lib/@@ARTIFACTNAME@@"
WorkingDirectory=/var/lib/@@ARTIFACTNAME@@
ExecStart="/usr/bin/java" -Dhudson.lifecycle=hudson.lifecycle.ExitLifecycle -Djava.awt.headless=true -jar "/usr/lib/@@ARTIFACTNAME@@/@@ARTIFACTNAME@@.war" --webroot=/var/cache/@@ARTIFACTNAME@@/war --httpPort=@@PORT@@
LimitNOFILE=8192
Restart=on-failure
SuccessExitStatus=143
UMask=0022

[Install]
WantedBy=multi-user.target
