<!DOCTYPE html>

<!-- generated. do not manually edit -->

<html lang="en">

<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    {% block head %}
    <link rel="stylesheet" href="style.css" />
    <title>{{productName | capitalize }} {{ os_family | capitalize}} Packages</title>
    {% endblock %}

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <style>
      TH { font-weight: bold; }
        #debs { border-spacing:3em 0em; margin-top:2em; }
    </style>
</head>

<body>
    <h1>{{productName | capitalize }} {{ os_family | capitalize}} Packages</h1>
    {% block distribution_instruction %}{% endblock %}

    {% block java_instructions %}
      <p>
        You will need to explicitly install a Java runtime environment, because Oracle's Java RPMs are incorrect and fail to register as providing a java dependency.
        Thus, adding an explicit dependency requirement on Java would force installation of the OpenJDK JVM.
      <p>

      <ul>
        <li>2.164 (2019-02) and newer: Java 8 or Java 11</li>
        <li>2.54 (2017-04) and newer: Java 8</li>
        <li>1.612 (2015-05) and newer: Java 7</li>
      </ul>

      With that set up, the {{productName}} package can be installed with:
    {% endblock %}


    <p>
      See <a href="https://wiki.jenkins-ci.org/display/JENKINS/Installing+Jenkins+on+Red+Hat+distributions">Wiki</a> for more information, including how {{productName}} is run and where the configuration is stored, etc.
    </p>

  </div>
  <script>
    $(function() {
      $('.hostname').html($(location).attr('origin'));
    });
  </script>

</body>

</html>
