{% extends "base.html" %}

{% block distribution_instruction %}

<p>
  This is the Debian package repository of {{product_name}} to automate installation and upgrade.

  To use this repository, first add the key to your system:

  <pre class="text-white bg-dark">
    <code>
  wget -q -O - <a href="{{organization}}.key" style="color:white"><span class="hostname"></span>/{{organization}}.key</a> | sudo apt-key add -</code>
  </pre>

  Then add the following entry in your <tt>/etc/apt/sources.list</tt>:

  <pre class="text-white bg-dark">
    
  deb <span class="hostname"></span>/{{os_family}}{{releaseline}} binary/
  </pre>
</p>

<p>
Update your local package index, then finally install {{product_name}}:

  <pre>
    sudo apt-get update
    sudo apt-get install {{artifactName}}
  </pre>
</p>
{% endblock %}

{% block  individual_package_instruction  %}

<p>
  If you need *.deb for a specific version, use these.
</p>

{% endblock %}
