{% extends "base.html" %}

{% block distribution_instruction %}

  <h2>Red Hat and derivatives</h2>

  <p>
  To install Jenkins on Red Hat Enterprise Linux, AlmaLinux, Rocky Linux, Oracle Linux, or another Red
  Hat based distribution, you can utilize the instructions provided in our <a
  href="https://www.jenkins.io/doc/book/installing/linux/#red-hat-centos">Red Hat Enterprise Linux installation
  guide.</a>
  </p>

  <p>
  To install Jenkins on Fedora, use the instructions provided in our
  <a href="https://www.jenkins.io/doc/book/installing/linux/#fedora">Fedora installation guide</a>.
  </p>

  <h2>openSUSE</h2>

  To use this repository with openSUSE, start by adding the requirements with the following command:

  <pre class="text-white bg-dark">

    zypper install dejavu-fonts fontconfig java-21-openjdk wget
  </pre>

  Then add the repository with run the following command:

  <pre class="text-white bg-dark">

    wget -O /etc/zypp/repos.d/jenkins.repo \
      {{web_url}}/jenkins.repo
  </pre>

  <p>
  With that set up, the {{ product_name }} package can be installed with:

  <pre class="text-white bg-dark">

    zypper install {{ artifactName }}
  </pre>
  </p>
{% endblock %}

{% block  individual_package_instruction  %}
  If you need *.rpm for a specific version, use these.
{% endblock %}
