{% extends "base.html" %}

{% block distribution_instruction %}


  <p>
  To use this repository, run the following command:

  <div class="alert alert-warning" role="alert">
    WARNING: The gpg key use to sign our packages has been updated on 16th of April 2020, therefore you need to reimport it if you imported before this date.
  </div>

  <pre class="text-white bg-dark">

  sudo wget -O /etc/yum.repos.d/{{artifactName}}.repo {{ web_url }}/{{artifactName}}.repo
  sudo rpm --import {{ web_url }}/{{organization}}.key
  </pre>

  <p>
  If you've previously imported the key from Jenkins, the <code>rpm --import</code> will fail because
  you already have a key. Please ignore that and move on.

  <pre class="text-white bg-dark">

  yum install epel-release # repository that provides 'daemonize'
  yum install java-11-openjdk-devel
  yum install {{artifactName}}
  </pre>

  <p>
  The rpm packages were signed using this key:
  </p>

  <pre class="text-white bg-dark" style="box-sizing:border-box; padding:1.5rem 1rem;">{{ pub_key_info|trim }}</pre>


{% endblock %}

{% block  individual_package_instruction  %}
  If you need *.rpm for a specific version, use these.
{% endblock %}
