{% extends "base.html" %}

{% block distribution_instruction %}

<p>
  This is the WAR package repository of {{ product_name }} for installation.
<p>
{% endblock %}

{% block java_instructions %}
  <p>
    You will need to explicitly install a supported Java runtime environment (JRE),
    e.g. <a href="https://adoptium.net/">Eclipse Temurin</a>.
  </p>

  <p>
    To determine the Java version that is supported for your Jenkins environment, please refer to the <a href="https://www.jenkins.io/doc/book/platform-information/support-policy-java/#running-jenkins-system">Java support policy.</a>
  </p>

{% endblock %}

{% block  individual_package_instruction  %}

<p>
  If you need *.war for a specific version, use these.
</p>

{% endblock %}
