{% extends "base.html" %}

{% block distribution_instruction %}

  <p>
  To install Jenkins through Fedora, use the instructions provided in our <a href="https://www.jenkins.io/doc/book/installing/linux/#fedora">Fedora installation guide</a>.

  <p>
  If you are trying to install Jenkins through Red Hat Enterprise Linux, Alma Linux, Rocky Linux, Oracle Linux, or another Red Hat based distribution, you can utilize the instructions provided in our <a href="https://www.jenkins.io/doc/book/installing/linux/#red-hat-centos">Red Hat Enterprise Linux installation guide.</a> 

  </p>

{% endblock %}

{% block  individual_package_instruction  %}
  If you need *.rpm for a specific version, use these.
{% endblock %}
