{% extends "base.html" %}

{% block distribution_instruction %}

To use this repository, run the following command:

<pre class="text-white bg-dark">

  sudo zypper addrepo -f {{web_url}}/ {{artifactName}}

</pre>

<p>
With that set up, the {{ product_name }} package can be installed with:

<pre class="text-white bg-dark">

  zypper install {{ artifactName }}

</pre>
</p>
{% endblock %}

{% block  individual_package_instruction  %}
If you need *.rpm for a specific version, use these.
{% endblock %}
