{% extends "base.html" %}

{% block distribution_instruction %}

<p>
  This is the Debian package repository of {{product_name}} to automate installation and upgrade.

  To use this repository, first add the key to your system (for the Weekly Release Line):

  <pre class="text-white bg-dark">
    <code>
  sudo wget -O /etc/apt/keyrings/jenkins-keyring.asc \
    <a href="{{web_url}}/{{organization}}-2023.key" style="color:white">{{web_url}}/{{organization}}-2023.key</a></code>
  </pre>

  Then add a Jenkins apt repository entry:

  <pre class="text-white bg-dark">
    <code>
  echo "deb [signed-by=/etc/apt/keyrings/jenkins-keyring.asc]" \
    {{ web_url }} binary/ | sudo tee \
    /etc/apt/sources.list.d/jenkins.list > /dev/null</code>
  </pre>
</p>

<p>
Update your local package index, then finally install {{product_name}}:

  <pre class="text-white bg-dark">
   <code>
  sudo apt-get update
  sudo apt-get install fontconfig openjdk-21-jre
  sudo apt-get install {{artifactName}}</code>
  </pre>
</p>

<p>
The apt packages were signed using this key:
</p>

<pre class="text-white bg-dark" style="box-sizing:border-box; padding:1.5rem 1rem;">{{ pub_key_info|trim }}</pre>
{% endblock %}

{% block  individual_package_instruction  %}

<p>
  If you need *.deb for a specific version, use these.
</p>

{% endblock %}
