{% extends "base.html" %}

{% block distribution_instruction %}

<p>
  This is the WAR package repository of {{ product_name }} for installation.
<p>
{% endblock %}

{% block java_instructions %}
  <p>
    You will need to explicitly install a supported Java runtime environment (JRE),
    e.g. <a href="https://adoptium.net/">Eclipse Temurin</a>.
  </p>

  <h2>
    Weekly Release Line
  </h2>

  <p>
    Supported Java versions for the weekly release line are:
  </p>

  <dl>
    <dt>2.463 (June 2024) and newer</dt>
    <dd>Java 17 or Java 21</dd>

    <dt>2.419 (August 2023) and newer</dt>
    <dd>Java 11, Java 17, or Java 21</dd>

    <dt>2.357 (June 2022) and newer</dt>
    <dd>Java 11 or Java 17</dd>

    <dt>2.164 (February 2019) and newer</dt>
    <dd>Java 8 or Java 11</dd>

    <dt>2.54 (April 2017) and newer</dt>
    <dd>Java 8</dd>

    <dt>1.612 (May 2015) and newer</dt>
    <dd>Java 7</dd>
  </dl>

  <h2>
    <a href="https://www.jenkins.io/download/lts/">Long Term Support (LTS)</a> Release Line
  </h2>

  <p>
    Supported Java versions for the LTS release line are:
  </p>

  <dl>
    <dt>2.361.1 (September 2022) and newer</dt>
    <dd>Java 11 or Java 17</dd>
    
    <dt>2.346.1 (June 2022) and newer</dt>
    <dd>Java 8, Java 11, or Java 17</dd>

    <dt>2.164.1 (March 2019) and newer</dt>
    <dd>Java 8 or Java 11</dd>

    <dt>2.60.1 (June 2017) and newer</dt>
    <dd>Java 8</dd>

    <dt>1.625.1 (October 2015) and newer</dt>
    <dd>Java 7</dd>
  </dl>
{% endblock %}

{% block  individual_package_instruction  %}

<p>
  If you need *.war for a specific version, use these.
</p>

{% endblock %}
