{% extends "base.html" %}

{% block distribution_instruction %}

To use this repository, run the following command:

<pre style="padding:0.5em; margin:1em; background:black; color:white">
sudo zypper addrepo -f {{url}}/ {{artifactName}}
</pre>

<p>
With that set up, the #{productName} package can be installed with:
<pre style="padding:0.5em; margin:1em; background-color:black; color:white">
  zypper install {{artifactName}}
</pre>
</p>
{% endblock %}

{% block  individual_package_instruction  %}
If you need *.rpm for a specific version, use these.
{% endblock %}
