{% extends "base.html" %}

{% block distribution_instruction %}

<p>
  This is the MSI package repository of {{productName}} for installation.
  
  <pre style="padding:0.5em; margin:1em; background-color:black; color:white">
  wget -q -O - <a href="{{organization}}.key" style="color:white"><span class="hostname"></span>/{{organization}}.key</a> | sudo apt-key add -
  </pre>
  
<p>
{% endblock %}

{% block  individual_package_instruction  %}

<p>
  If you need *.msi for a specific version, use these.
</p>

{% endblock %}
