# redirection is now done via mod_rewrite in ../.htaccess to allow old APT to work correctly
# RedirectMatch temp /debian/binary/(.*)\.deb$ http://mirrors.jenkins-ci.org/debian/$1.deb
Options -Indexes
